SUPABASE_URL="https://qricbqkijksggyyrepnz.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFyaWNicWtpamtzZ2d5eXJlcG56Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzA4MzAsImV4cCI6MjA4OTI0NjgzMH0.dUVuEhy2x5dAxniB3O2iY3jrQws7ieX-kgUL6haV-ck"